body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #95D2B3;
}

#frame {
    width: 800px;
    height: 100%;
    background-color: #D8EFD3;
    border: 6px solid #6295A2;
    padding: 20px;
}

.head {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#heading {
    text-align: center;
    font-size: 50px;
    color: #538392;
    text-shadow: 3px 3px #000;
}

#img1 {
    width: 50%;
    margin-bottom: 20px;
}

#img2 {
    width: 50%;
    margin-bottom: 0;
}

p {
    margin-top: 5px;
}

.listPlaces {
    align-items: baseline;
    text-align: left;
    margin-top: 10px;
}

h3 {
    color: #538392;
}

.popular {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
    border: 4px dotted #55AD9B;
}